<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Ask A Question</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
  <h1>Have a question?</h1>
  <h2>Instructions:Enter your question below.</h2>
  <form class="" action="/questions" method="POST">
    <input type="text" name="questions" placeholder="input question">
    <input type="submit" name="" value="Click">
    <%#<h3>how to comment</h3>%>
  </form>
  <ul>
    <% for(var i=0;i < questions.length ;i++){ %>

    <li class="questions">
      <span><%=questions[i].questions%></span>
      <span><%=questions[i].answers%></span>

      <button class="addReply" type="text" name="button">comment</button>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>

    </li>
    <li>

        <input  class="hidden" id="userComment" type="text" name="answers" value="" placeholder="Add your response">

        <button class="submitAnswer" type="text" name="button">Submit Answer</button>
    </li>
    <ul>


    </ul>
  </ul>

  <% } %>


  <script type="text/javascript" src="main.js">

  </script>
</body>

</html>
